<div @open>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 offset-2 mr-5">
      <a [routerLink]="['/admin/add-vendor']" class="no-decor">
        <div class="card card-stats">
          <div class="card-body card-height-set">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="fas fa-user-plus text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Add Vendor</p>
                  <p class="card-title">Vendor Form<p>
                </div>
  
              </div>
            </div>
          </div>
  
        </div>
      </a>
    </div>
  
    <div class="col-lg-4 col-md-4 col-sm-4 ">
      <a routerLink="/admin/view-vendor" class="no-decor">
        <div class="card card-stats">
          <div class="card-body card-height-set">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="fas fa-id-badge text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">All Vendors</p>
                  <p class="card-title">View Vendor<p>
                </div>
  
              </div>
            </div>
          </div>
  
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 offset-2 mr-5">
      <a routerLink="/admin/add-inventory" class="no-decor">
        <div class="card card-stats">
          <div class="card-body card-height-set">
            <div class="row">
              <div class="col-5 col-md-4  centralize-row">
                <div class="icon-big text-center icon-warning">
                  <img src="https://img.icons8.com/ios/64/28a745/add-property.png" class="text-success">
                  <!-- <i class="nc-icon nc-simple-add text-success"></i> -->
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Add Inventory</p>
                  <p class="card-title">Inventory Form<p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </a>
    </div>
  
    <div class="col-lg-4 col-md-4 col-sm-4 ">
      <a routerLink="/admin/view-inventory" class="no-decor">
        <div class="card card-stats">
          <div class="card-body card-height-set">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="fas fa-box text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">All Products</p>
                  <p class="card-title">View Inventory
                    <p>
                </div>
  
              </div>
            </div>
          </div>
  
        </div>
      </a>
    </div>
  </div>
</div>
