
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color:#002366 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #8F8EB9 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #002366 !important;
  }


.switch-ml {
    margin-left: 76%
}

mat-card {
    width: 100%
}

.row {
    margin-bottom: 20px;
}

mat-grid-tile p {
    width: 100%;
    font-size: 18px;
    margin-top: 16px;
}

.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #424242 !important;
    color: white;
}
.right-set{ 
    display: block;
    margin-left: auto;
    width: 14%;
    height: 40px;
}
