<div @open>
  <h5 class="card-title">Plaza Product List</h5>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="shop_name">
      <th mat-header-cell *matHeaderCellDef> Shop Name </th>
      <td mat-cell *matCellDef="let element"> {{element.shop_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Mobile Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="brand_name">
      <th mat-header-cell *matHeaderCellDef> Mobile Name </th>
      <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <i class="fas fa-info-circle p-1 text-primary" (click)="openDetails(detailsmodal,element.IMEI)"
          placement="bottom" ngbTooltip="Item Details"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="modal-lg">
    <ng-template class="modal-lg" #detailsmodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Phone Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <div>
          <p>Shop Name: {{detailsData.shop_name}}</p>
          <p>Shop Address: {{detailsData.shop_address}}</p>
          <p>Brand Name: {{detailsData.brand_name}}</p>
          <p>Phone Model: {{detailsData.model}}</p>
          <p>Phone IMEI: {{detailsData.IMEI}}</p>
          <p>Phone Color: {{detailsData.color}}</p>
          <p>Phone Price: {{detailsData.price}}</p>
          <p>Phone Description: {{detailsData.description}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-warn" (click)="modal.close('Save click')">Close</button>
      </div>
    </ng-template>
  </div>



</div>