th.mat-header-cell {
  text-align: center !important;
}

th.mat-cell {
  text-align: center !important;
}

tr.mat-row {
  text-align: center !important;
}

.fas {
  cursor: pointer;
}

.customModal{
  width: 200px !important;
}