<div class="col-md-12">
  <div class="pt-4">
    <h5 class="card-title">Inventory List</h5>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <button [routerLink]="['/admin/add-inventory']" class="btn btn-primary btn-round pull-right">Add
          Item</button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="shopname">
        <th mat-header-cell *matHeaderCellDef> Shop Name </th>
        <td mat-cell *matCellDef="let element"> {{element.vendor_name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Mobile Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="mobilename">
        <th mat-header-cell *matHeaderCellDef> Mobile Name </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.color}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <i class="fas fa-user-edit p-1 text-success" (click)="openModal(editModal,element.IMEI)" placement="bottom"
            ngbTooltip="Edit Item"></i>
          <i class="fas fa-trash text-danger" (click)="deleteInventory(element.IMEI)" placement="bottom"
            ngbTooltip="Delete Item"></i>
          <i class="fas fa-info-circle p-1 text-primary" (click)="openDetails(detailsmodal,element.IMEI)" placement="bottom"
            ngbTooltip="Item Details"></i>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="modal-lg">
      <ng-template class="modal-lg" #editModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Inventory</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">
          <form #f [formGroup]="form" (ngSubmit)="editInventory(form.value)">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Color</label>
                  <input type="text" class="form-control" [(ngModel)]="modalData.color" formControlName="color"
                    placeholder="Color">
                  <div *ngIf="color.invalid && color.touched">
                    <div *ngIf="color.errors.required" class="alert alert-danger">Color is required</div>
                    <div *ngIf="color.errors.maxlength" class="alert alert-danger">Color should be maximum 255
                      characters</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>IMEI</label>
                  <input type="text" class="form-control" [(ngModel)]="modalData.IMEI" formControlName="IMEI"
                    placeholder="IMEI">
                  <div *ngIf="IMEI.invalid && IMEI.touched">
                    <div *ngIf="IMEI.errors.required" class="alert alert-danger">IMEI is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Price</label>
                  <input type="text" class="form-control" [(ngModel)]="modalData.price" formControlName="price"
                    placeholder="Price">
                  <div *ngIf="price.invalid && price.touched">
                    <div *ngIf="price.errors.required" class="alert alert-danger">Price is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" [(ngModel)]="modalData.description"
                    formControlName="description" placeholder="Description">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group pt-4">
                  <label>Visible</label>
                  <mat-slide-toggle formControlName="visible" [(ngModel)]="modalData.visible" class="switch-ml">Off/On
                  </mat-slide-toggle>
                  <div *ngIf="visible.invalid && visible.touched">
                    <div *ngIf="visible.errors.required" class="alert alert-danger">Visible is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-2">
                <button type="submit" class="btn btn-primary btn-round center" [disabled]="!form.valid">Update
                  Inventory</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-warn" (click)="modal.close('Save click')">Close</button>
        </div>
      </ng-template>
    </div>

    <div class="modal-lg">
      <ng-template class="modal-lg" #detailsmodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Inventory Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-3">
          <div style="text-align: center;">
            <p>Inventory IMEI: {{detailsData.IMEI}}</p>
            <p>Inventory Color: {{detailsData.color}}</p>
            <p>Inventory Price: {{detailsData.price}}</p>
            <p>Inventory Description: {{detailsData.description}}</p>
            <p>Inventory Visibility: {{detailsData.visible}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-warn" (click)="modal.close('Save click')">Close</button>
        </div>
      </ng-template>
    </div>
  </div>

</div>